body{
    background-color: #708090;
}

#calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;

    background-color: black;
    color: #D4D4D2;
    border-radius: 15px;
    width: 500px;
    margin: 100px auto;
    height: 500px;
    padding: 20px;
}

#display {
    grid-area: 1 / 1 / 2 / 5;
    text-align: end;
    border-radius: 8px;
    padding-right: 20px;
}

#zero {
    grid-area: 6 / 1 / 7 / 3;
}

#equal {
    background-color: #FF9500;
}

.operator {
    background-color: #FF9500 !important;
}

.button {
    background-color: #505050;
    border: 1px solid black;
    color: white;
    border-radius: 8px;
    text-align: center;
    font-size: medium;
}

.button2 {
    background-color: #D4D4D2 !important;
    color: black;
}

footer {
    color: whitesmoke;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}